*{
    box-sizing: border-box;
}
body {
    background-image: url('../IMG/checkpattern.jpg');
}
nav{ 
    border:1px double #ff0000;
    margin:0;
    padding:0;
    text-align:center;
}
nav li {
    display:inline;
}
nav a {
    display:inline-block;       
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    color: #ff0000;
    font-family: 'American Typewriter';
}
h1 {
    color: #ff0000;
    font-family: 'Shlop';
    font-size: 500%;
    border: 5px double #ff0000;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
}
p {
    color: #ff0000 ;
    font-family: 'American Typewriter';
    font-size: 150%;
    text-align: center;
    margin-top:1px;
}
input {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
button {
    font-family: 'American Typewriter';
    color: #ff0000;
    background-color: #ffffff;
    border: 5px double #ff0000
}
h2 {
    color: #ff0000;
    font-family: 'Shlop';
    font-size: 200%;
    text-align: center;
}
div {
    text-align: center;
}
#page-container {
    position: relative;
    min-height: 100vh;
  } 
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  } 
  #footer {
    position: absolute;
    display: inline;
    bottom: 0;
  }

